// color tokens

$neutral-00: #ffffff;
$neutral-10: #f7f9fd;
$neutral-20: #f0f3fa;
$neutral-30: #dee5f1;
$neutral-40: #c9d2e3;
$neutral-50: #b1bbcd;
$neutral-60: #949eb0;
$neutral-70: #717a89;
$neutral-80: #494f59;
$neutral-90: #1f2226;
$purple-10: #f6f0fd;
$purple-20: #ece0fe;
$purple-30: #e3d0ff;
$purple-40: #bf9dee;
$purple-50: #9c6ade;
$purple-60: #7647b6;
$purple-70: #50248f;
$purple-80: #3a1270;
$purple-90: #230051;
$indigo-10: #f4f5fa;
$indigo-20: #d3d8f7;
$indigo-30: #b3bcf5;
$indigo-40: #8793dc;
$indigo-50: #5c6ac4;
$indigo-60: #3e4c9e;
$indigo-70: #202e78;
$indigo-80: #101a58;
$indigo-90: #000639;
$blue-10: #ebf5fa;
$blue-20: #cfeafa;
$blue-30: #b4e0fa;
$blue-40: #5ab2ed;
$blue-50: #0085e0;
$blue-60: #0469b5;
$blue-70: #084e8a;
$blue-80: #043159;
$blue-90: #001429;
$teal-10: #e0f5f5;
$teal-20: #cbf0f0;
$teal-30: #b7ecec;
$teal-40: #7fd7d5;
$teal-50: #47c1bf;
$teal-60: #24a2a6;
$teal-70: #00848e;
$teal-80: #005a61;
$teal-90: #003135;
$green-10: #e3f1df;
$green-20: #cfebc9;
$green-30: #bbe5b3;
$green-40: #85ce77;
$green-50: #50b83c;
$green-60: #309c3f;
$green-70: #108043;
$green-80: #145b39;
$green-90: #173630;
$yellow-10: #fcf1cd;
$yellow-20: #feedab;
$yellow-30: #ffea8a;
$yellow-40: #fcdd45;
$yellow-50: #fad200;
$yellow-60: #cba00c;
$yellow-70: #9c6f19;
$yellow-80: #79550c;
$yellow-90: #573b00;
$orange-10: #fcebdb;
$orange-20: #fed8b3;
$orange-30: #ffc58b;
$orange-40: #f9ac67;
$orange-50: #f49342;
$orange-60: #da752c;
$orange-70: #c05717;
$orange-80: #85360d;
$orange-90: #4a1504;
$red-10: #fbe5e5;
$red-20: #fab6b6;
$red-30: #fa8888;
$red-40: #ec5050;
$red-50: #de1818;
$red-60: #cf1010;
$red-70: #bf0808;
$red-80: #8a0404;
$red-90: #540000;
$brand-10: #ffdee4;
$brand-20: #f7b1be;
$brand-30: #ef8498;
$brand-40: #e95e78;
$brand-50: #e43958;
$brand-60: #d61c3e;
$brand-70: #c90024;
$brand-80: #91001a;
$brand-90: #5a0010;

//steel
$steel-darkest: $neutral-90;
$steel-dark: $neutral-80;
$steel: $neutral-70;
$steel-light: $neutral-60;
$steel-lightest: $neutral-50;

//snow
$snow-darkest: $neutral-40;
$snow-dark: $neutral-30;
$snow: $neutral-20;
$snow-light: $neutral-10;
$snow-lightest: $neutral-00;